.body-container {
  border: 1px solid black;
  padding: 10px;
  margin: 100px;
  background-color: rgb(236, 235, 215);
  box-shadow: rgb(187, 187, 187) 35px 30px;
}

.header {
  font-family: "Shizuru", cursive;
  color: black;
  font-size: 60px;
}

.container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 5%;
  flex-direction: column;
  font-size: 25px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.input-container {
  margin-left: auto;
  font-size: large;
  width: 60%;
  border: none;
  border-bottom: 5px solid rgb(187, 187, 187);
}

.empty-list-text {
  font-family: "Shizuru", cursive;
  color: black;
  font-size: 40px;
  text-align: center;
}

.button-submit {
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  padding: 2px;
  margin: 3px;
  background-color: rgb(232, 233, 155);
  border: 3px solid rgb(187, 187, 187);
  opacity: 0.6;
  transition: 0.3s;
}

.button-submit:hover {
  opacity: 1;
}

.todo-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.eachTodo {
  border: 3px solid rgb(187, 187, 187);
  border-bottom: none;
  width: 300px;
  overflow-x: scroll;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  transition: 200ms;
  background-color: rgb(192, 192, 192);
  font-family: "Akaya Telivigala", cursive;
  display: flex;
  justify-content: center;
}

.eachTodo:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.todo-text {
  font-weight: bold;
}

.buttons-container {
  padding: 5px 0px;
  width: 150px;
  margin-left: auto;
}

.todo-button-style {
  font-size: 20px;
  font-weight: bold;
}

.no-bullet-point {
  list-style-type: none;
}

.no-todo {
  margin-top: 30px;
  text-align: center;
}

.editForm {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.label {
  font-size: 25px;
  padding-top: 20px;
}

.cross {
  opacity: 0.5;
  text-decoration: line-through;
  text-decoration-color: red;
  padding: 5px 5px;
}

.disableCross {
  padding: 5px 5px;
  cursor: not-allowed;
}
